.stats-item {
  display: flex;
  color: var(--color-text-contrast);
  //font-family: "Rounded M Plus 1C", sans-serif;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D5E8F1;
    border-radius: 14px;
    font-size: 24px;
    width: 60px;
    height: 60px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  &__count {
    font-size: 24px;
    line-height: 24px;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    margin: 2px 0;
  }
}
