.oauth-view {
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
    }

    &__container {
        margin: 25px 0;
        width: 700px;
    }
}
