.profile-view {
  position: relative;
  height: 100%;

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 500px;
    background-repeat: repeat;
    z-index: -1;
    opacity: .05;
  }

  &__content {
    display: flex;
    padding: 20px;
  }

  &__side-column {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 200px;

    &-item:not(:last-child) {
        margin-bottom: 15px;
    }
  }

  &__main-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 20px;
  }
}
