.season-information {
  &__status {
    margin: 30px 0;
    color: var(--color-contrast);
    text-align: center;
    font-family: 'Rounded M Plus 1C', sans-serif;
    font-weight: bold;
    font-size: 28px;
  }
}
